.logo{
	width: 70px;
	padding: 2px 2px; 
}

.navbar{
	background-color: #0275d8;
}

.form_center{
	margin: 0 auto;
	width: auto;
}

#signup-form{
	padding-top: 10%;
}

#signin-form{
	padding-top: 10%;
}

.signup-link{
    padding-top: 8px;
}

.signin-link{
    padding-top: 8px;
}

@media (min-width:576px)
#conversation{
    border-left: 1px solid gray;
}