.logo{
	width: 70px;
	padding: 2px 2px; 
}

.navbar{
	background-color: #f7f7f7;
}
.form_center{
	margin: 0 auto;
	width: auto;
}

.signup-link{
    padding-top: 8px;
}

.signin-link{
    padding-top: 8px;
}